<?xml version="1.0" encoding="UTF-8"?>
<server description="signed jwt rp server">
	<featureManager>
		<feature>ssl-1.0</feature>
		<feature>jsp-2.3</feature>
		<feature>jndi-1.0</feature>
		<feature>jwt-1.0</feature>
		<feature>cdi-1.2</feature>
		<feature>jaxrs-2.0</feature>
		<feature>servlet-3.1</feature>
		<feature>appSecurity-2.0</feature>
		<feature>openidConnectClient-1.0</feature>
	</featureManager>

	<httpEndpoint id="defaultHttpEndpoint" host="*" httpPort="9080"
		httpsPort="9443" />

	<keyStore id="defaultKeyStore" password="app-pass"
		location="${server.config.dir}/key.jks" />
	<keyStore id="defaultTrustStore" password="trust-pass"
		location="${server.config.dir}/truststore.jks" />

        <ssl id="defaultSSLConfig" keyStoreRef="defaultKeyStore"
             trustStoreRef="defaultTrustStore" serverKeyAlias="jwtsampleapp" />
		
	<jwtBuilder id="rsBuilder" 
				issuer="https://thesamplerp/"
	  			keyStoreRef="defaultKeyStore"
	  			keyAlias="jwtsampleapp"
	/>
	
	<jndiEntry jndiName="rsJeeEndpoint" value="${env.RS_JEE_ENDPOINT_URL}"/>
	<jndiEntry jndiName="rsSpringEndpoint" value="${env.RS_SPRING_ENDPOINT_URL}"/>


	<!-- The app protected by OIDC, the security role enables security for the 
		app, and by default when is oidc security is configured it applies to all 
		secured apps -->
	<application type="war" id="signed-jwt-jee-rp-application"
		name="signed-jwt-jee-rp-application" location="${server.config.dir}/apps/signed-jwt-jee-rp-application.war">
		<application-bnd>
			<security-role name="OIDCUser">
				<special-subject type="ALL_AUTHENTICATED_USERS" />
			</security-role>
		</application-bnd>
	</application>

</server>
